.popup{

  
.popup-content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  padding: 10px;
  width: 25rem;
  height: auto;
  background-color: #2D4263;
  z-index: 2;
  display: flex;
  justify-content: center;

  .exit{
    width: 90%;
    position: absolute;
    text-align: right;

    .icon{
      cursor: pointer;
    }
  }

}

}
