.form{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border-radius: 15cm;
    box-shadow: lightseagreen;
    align-items: center;
}

.inputBox{
    margin-top: 5%;
    width: 50%;
    border: 1px solid black;
    position: relative;
    height: 80px;
    border-radius: 10px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField{
    margin-top: 15px;
    width: 50%;
}

.boldFont{
    font-weight: bold;
}

.mintBtn{
    width: 25%;
}