

.marketplace{
    height: 100vh;
    display: flow-root;
    overflow: auto;

    .title{
        display:block;
        text-align: center;
    }

    .searchDiv{
        position: relative;
        width: 300px;
        height: 50px;
        left: 70%;
        background-color: #2D4263;
        display: flex;
        border-radius: 10px;
        margin-top: 50px;

        .left{
            flex: 0.3;
            font-size: 15px;
            align-self: center;
        }

        .right{
            flex: 0.7;
            align-self: center;
        }
    }

        
        .market-items{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            row-gap: 30px;
            width: 100%;
            place-items: center;
            padding-bottom: 30px;
            height: auto;
            margin-top: 30px;
        }

}