  
    .content {
        display: flex;
        justify-content: center;
        background-color: #2D4263;
        border-radius: 10%;
        box-shadow: 1px 1px 14px 3px #000000;
        width: 300px;

        .item{
         
            .nft{
                padding: 10px 10px 10px 10px;
                background-color: lightgray;

                .nft-name{
                    text-align: center;

                    h4{
                        color: #191919;
                    }
                }

                .nft-image{

                    .image{
                        width: 200px;
                        height: 200px;
                        border: 2px solid rgba(0, 0, 0, 0.686);
                    }
                }

                .nft-actions{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;

                    button{
                        background-color: #7393B3;
                        border-radius: 10px;
                        transition: all 1s ease;
                        width: fit-content;
                      }

                    .price{
                        color: black;

                        .icon{
                            margin-left: 5px;
                        }
                    }
                }
            }

           
        }
    }
