.loaderWrapper{
  z-index: 999999;
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  width: 100vw;
  height: 100%;
  display: none;
  pointer-events: none;
}

.loaderWrapper-active{
  z-index: 999999;
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  width: 100vw;
  height: 100%;
  display: block;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    top: 40%;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 50px solid black;
    border-color: black transparent black transparent;
    animation: lds-hourglass 1.2s infinite;
  }

  
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  